<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MUSEU NACIONAL</title>
    <link rel="stylesheet" type="text/css" href="../css/estilos.css">
    <link rel="stylesheet" type="text/css" href="../css/normalize.css">


</head>
    <body>

        <header>
            <h1><a href="">MUSEU NACIONAL</a></h1>
            
            <nav>    
                <ul>
                    <li><a href="">HOME</a></li>
                    <li><a href="">EXPOSIÇÕES</a></li>
                    <li><a href="">PESQUISA</a></li>
                    <li><a href="">ACERVO</a></li>
                    <li><a href="">VÍDEOS</a></li>
                    <li><a href="">FOTOS</a></li>
                    <li><a href="">CONTATO</a></li>
                </ul>
            </nav>
        </header>



        <article>
            <div id="esquerda"></div>
            <div id="direita" ></div>

        </article>

        <article>
            <div id="teste">
                <div class="esquerda-baixo">
                    <h4 class="padding1">VÍDEO: CONHEÇA O MUSEU</h4>

                    <article id="video">
                        <iframe width="380" height="290" src="https://www.youtube.com/embed/RGUYb-hivrc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>

                        </iframe>
                    </article>

                </div>
                <div class="esquerda-baixo">
                    <h4 class="padding1">MAPA: ENCONTRE O MUSEU</h4>
                    <article id="mapa">
                        <iframe src="https://www.google.com/maps/d/embed?mid=1dwbevl7uDVwj3u2qgrIFWmcFBXo&ehbc=2E312F" width="380" height="290">

                        </iframe>
                    </article>
                </div>



                <div class="esquerda-baixo">
                    <h4 class="padding1">EXPOSIÇÕES</h4>
                    <div id="ul">
                        <ul>
                            <li>Os assustadores insetos</li>
                            <li>O Crânio de Lucy</li>
                            <li>Preguiça gigante e tigres-dente-de-sabre</li>
                            <li>Plantas do Brasil Central</li>
                            <li>Teresa Cristina: A Imperatriz - Paleoarte</li>
                            <li><a href="" style="font-weight: bold;">Veja todos</a></li>
                        </ul>
                    </div>
                </div>
                <div class="esquerda-baixo">
                    <h4 class="padding1" id="teste1">200 ANOS DE HISTÓRIA</h4>
                    <p id="p">Lorem ipsum dolor sit, amet consectetur lo adipisicing elit. Quasi facere eum doloremque, dolorum magni, minima eos soluta sapiente maxime facilis amet deserunt iste. Nobis, eaque veniam et quidem similique unde.</p>
                </div>


            </div>
            

            <div id="direita-b">

                <div id="direita-baixo">
                    <h3 class="padding2">FAÇA UMA VISITA!</h3>
                    <div id="data">
                        <label for="data">Data:</label>
                        <input type="date" name="data" id="dataconf"> Qtd de pessoas: <input type="number" style="width: 40px;" max="99" min="0">
                        <button value="submit" id="button">Verificar disponibilidade</button>
                    </div>
                </div>

                <div id="direita-baixo-baixo">
                    <h3 class="padding2">GALERIA DE FOTOS!</h3>
                    <div id="fotos">
                        <div class="foto"><img src="../img/imagem1.jpg" class="fotoDentro"></div>
                        <div class="foto"><img src="../img/imagem2.jpg" class="fotoDentro"></div>
                        <div class="foto"><img src="../img/imagem3.jpg" class="fotoDentro"></div>
                        <div class="foto"><img src="../img/imagem4.jpg" class="fotoDentro"></div>
                    </div>
                </div>
            </div>
        </article>


        <footer style="text-align: center; margin-top:30px ;" >&copy; - Gustavo Canavese Bicalho - 2022
            <hr style="margin:0px auto;">
        </footer>
        

    </body>
</html>